@model BankServices.Models.AccountDetailFullDto 
<!doctype html >
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Xcalibur || Current</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="/assets/images/logo_res.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- all css here -->
    <!-- bootstrap v3.3.7 css -->

    <link rel="stylesheet" type="text/css" href="/engine2/style.css" />
    <script type="text/javascript" src="/engine2/jquery.js"></script>

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- owl.carousel.2.0.0-beta.2.4 css -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    <!-- font-awesome v4.6.3 css -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <!-- magnific-popup.css -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <!-- slicknav.min.css -->
    <link rel="stylesheet" href="/assets/css/slicknav.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="/assets/css/styles.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- preloder-wrap -->
    <div id="cssLoader3" class="preloder-wrap">
        <div class="loader">
            <div class="child-common child4"></div>
            <div class="child-common child3"></div>
            <div class="child-common child2"></div>
            <div class="child-common child1"></div>
        </div>
    </div>

    <header class="header-area">
        <div class="header-top bg-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-8 col-xs-12">
                        <div class="header-top-left">
                            <p>Xcalibur Bank : Banking The Way You Like...</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-4 col-xs-12">
                        <div class="header-top-right text-right">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle bg-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 hidden-sm hidden-xs">
                        <div class="logo">
                            <h1><a href="/Home/Index"><img src="/assets/images/logo.png" /></a></h1>
                        </div>
                    </div>
                    <div class="col-md-9 col-xs-12">
                        <div class="header-middle-right">
                            <ul>
                                <li>
                                    <div class="contact-icon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <div class="contact-info">
                                        <p>MON - SAT (9AM - 5PM)</p>
                                        <span>Sunday closed</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="contact-icon">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <div class="contact-info">
                                        <p>MAIL US</p>
                                        <span>info@xcalibur.com</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="contact-icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="contact-info">
                                        <p>PHONE US</p>
                                        <span>+64-221669857</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom" id="sticky-header">
            <div class="container">
                <div class="row">
                    <div class="hidden-md hidden-lg col-sm-8 col-xs-6">
                        <div class="logo">
                            <h1><a href="/Home/Index"><img src="/assets/images/logo_res.png" /><span style="font-family:'Bauhaus 93'; font-size:22px;">Calibur</span></a></h1>
                        </div>
                    </div>
                    <div class="col-md-11 hidden-sm hidden-xs">
                        <div class="mainmenu">
                            <ul id="navigation">
                                <li>
                                    <a href="/Home/Index">Home</a>

                                </li>
                                <li>
                                    <a href="/Home/About">About</a>

                                </li>
                                <li>
                                    <a href="#">Services<i class="fa fa-angle-down"></i></a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="#">Online Banking <span class="pull-right"><i class="fa fa-angle-right"></i></span></a>

                                            <ul class="submenu">
                                                <li><a href="/Home/Services#Services We Provide">Internet Banking</a></li>
                                                <li><a href="/Home/Services#Services We Provide">E-Statements</a></li>

                                                <li><a href="/Home/Services#Services We Provide">Xcalibur Pay Go</a></li>
                                                <li><a href="/Home/Services#Services We Provide">Secured Banking</a></li>
                                            </ul>

                                        </li>

                                        <li>
                                            <a href="#">Mobile Banking <span class="pull-right"><i class="fa fa-angle-right"></i></span></a>

                                            <ul class="submenu">
                                                <li><a href="/Home/Services#Mobile Banking">Xcalibur Mobile</a></li>
                                                <li><a href="/Home/Services#Mobile Banking">UPI App Pay</a></li>

                                                <li><a href="/Home/Services#Mobile Banking">Xcalibur OK</a></li>
                                                <li><a href="/Home/Services#Mobile Banking">SMS Banking</a></li>
                                            </ul>

                                        </li>




                                        <li>
                                            <a href="#">Branch Banking <span class="pull-right"><i class="fa fa-angle-right"></i></span></a>

                                            <ul class="submenu">
                                                <li><a href="/Home/Services#Branch Banking">ATM Banking</a></li>
                                                <li><a href="/Home/Services#Branch Banking">Cash Deposit Machine</a></li>

                                            </ul>

                                        </li>







                                        <li><a href="/Home/Services#Branch Banking">Remote Banking</a></li>
                                        <li><a href="/Home/Services#Branch Banking">Phone Banking</a></li>
                                    </ul>
                                </li>

                                <li class="active">
                                    <a href="#">Products <i class="fa fa-angle-down"></i></a>
                                    <ul class="submenu">

                                        <li>
                                            <a href="#">Accounts<span class="pull-right"><i class="fa fa-angle-right"></i></span></a>

                                            <ul class="submenu">
                                                <li><a href="/Home/Savings">Savings Accounts</a></li>
                                                <li><a href="/Home/Salary">Salary Account</a></li>
                                                <li><a href="/Home/Current">Current Account</a></li>
                                                <li><a href="/Home/DirectInvest">Direct Invest Account</a></li>
                                                <li><a href="/Home/SafeDeposit">Safe Deposit Lockers</a></li>
                                                <li><a href="/Home/Pension">Pension Disbursement Account</a></li>

                                            </ul>

                                        </li>


                                        <li>
                                            <a href="#">Deposits<span class="pull-right"><i class="fa fa-angle-right"></i></span></a>

                                            <ul class="submenu">
                                                <li><a href="/Home/Login">Fixed Deposits</a></li>
                                                <li><a href="/Home/Login">Recurring Deposits</a></li>
                                                <li><a href="/Home/Login">Tax Saver F.D.</a></li>
                                                <li><a href="/Home/Login">Fixed Deposit Plus</a></li>
                                                <li><a href="/Home/Login">Encash 24 Flexi Deposit</a></li>

                                            </ul>

                                        </li>


                                        <li>
                                            <a href="#">Cards<span class="pull-right"><i class="fa fa-angle-right"></i></span></a>

                                            <ul class="submenu">
                                                <li><a href="/Home/Login">Credit Cards</a></li>
                                                <li><a href="/Home/Login">Debit Cards</a></li>
                                                <li><a href="/Home/Login">Pre-Paid Cards</a></li>
                                                <li><a href="/Home/Login">Transit Cards</a></li>
                                                <li><a href="/Home/Login">Digital Payments</a></li>

                                            </ul>

                                        </li>

                                        <li>
                                            <a href="#">Loans<span class="pull-right"><i class="fa fa-angle-right"></i></span></a>

                                            <ul class="submenu">
                                                <li><a href="/Home/Login">Home Loan</a></li>
                                                <li><a href="/Home/Login">Personal Loan</a></li>
                                                <li><a href="/Home/Login">Holiday Loan</a></li>
                                                <li><a href="/Home/Login">Car Loan</a></li>
                                                <li><a href="/Home/Login">Business Loan</a></li>
                                                <li><a href="/Home/Login">Education Loan</a></li>
                                                <li><a href="/Home/Login">Gold Loan</a></li>

                                            </ul>

                                        </li>

                                        <li>
                                            <a href="#">Forex<span class="pull-right"><i class="fa fa-angle-right"></i></span></a>

                                            <ul class="submenu">
                                                <li><a href="/Home/Login">Forex Card</a></li>
                                                <li><a href="/Home/Login">International Funds Transfer</a></li>
                                                <li><a href="/Home/Login">Online Funds Transfer</a></li>
                                                <li><a href="/Home/Login">Foreign Currency Cash</a></li>
                                                <li><a href="/Home/Login">Foreign Currency DD</a></li>
                                                <li><a href="/Home/Login">F.C. Travellers Cheques</a></li>


                                            </ul>

                                        </li>





                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Grab Deals<i class="fa fa-angle-down"></i></a>
                                    <ul class="submenu">

                                        <li>
                                            <a href="#">Shopping<span class="pull-right"><i class="fa fa-angle-right"></i></span></a>

                                            <ul class="submenu">
                                                <li><a href="/Home/Login">Shop Online</a></li>
                                                <li><a href="/Home/Login">Buy Movie Tickets</a></li>
                                                <li><a href="/Home/Login">Buy Groceries</a></li>
                                                <li><a href="/Home/Login">Book Flights</a></li>
                                                <li><a href="/Home/Login">Book Hotels</a></li>
                                                <li><a href="/Home/Login">Book Self Drive</a></li>
                                                <li><a href="/Home/Login">Send Gifts</a></li>
                                                <li><a href="/Home/Login">Compare & Buy</a></li>

                                            </ul>

                                        </li>

                                        <li>
                                            <a href="#">Offers<span class="pull-right"><i class="fa fa-angle-right"></i></span></a>

                                            <ul class="submenu">
                                                <li><a href="/Home/Login">Credit Cards</a></li>
                                                <li><a href="/Home/Login">Debit Cards</a></li>
                                                <li><a href="/Home/Login">Internet Banking</a></li>
                                                <li><a href="/Home/Login">Mobile Banking</a></li>
                                                <li><a href="/Home/Login">UPI Payments</a></li>
                                                <li><a href="/Home/Login">Lifestyle</a></li>
                                                <li><a href="/Home/Login">Travel</a></li>
                                                <li><a href="/Home/Login">EMI</a></li>
                                                <li><a href="/Home/Login">Visa</a></li>

                                            </ul>

                                        </li>


                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Make Payments<i class="fa fa-angle-down"></i></a>
                                    <ul class="submenu">

                                        <li>
                                            <a href="#">Recharge & Pay Bills<span class="pull-right"><i class="fa fa-angle-right"></i></span></a>

                                            <ul class="submenu">
                                                <li><a href="/Home/Login">Bill Pay & Recharge</a></li>
                                                <li><a href="/Home/Login">Locker Rent</a></li>

                                            </ul>

                                        </li>

                                        <li>
                                            <a href="#">Investments<span class="pull-right"><i class="fa fa-angle-right"></i></span></a>

                                            <ul class="submenu">
                                                <li><a href="/Home/Login">S.I.P</a></li>
                                                <li><a href="/Home/Login">Insurance Premium</a></li>
                                                <li><a href="/Home/Login">Loan Repayment</a></li>
                                                <li><a href="/Home/Login">Fixed Deposits</a></li>
                                            </ul>

                                        </li>

                                        <li>
                                            <a href="#">Pay Taxes<span class="pull-right"><i class="fa fa-angle-right"></i></span></a>

                                            <ul class="submenu">
                                                <li><a href="/Home/Login">Income & Other Direct Tax</a></li>
                                                <li><a href="/Home/Login">Central Excise & Service Tax</a></li>
                                                <li><a href="/Home/Login">State Wise Tax</a></li>
                                                <li><a href="/Home/Login">Tax Assist.</a></li>
                                            </ul>

                                        </li>




                                    </ul>
                                </li>


                                <li><a href="/Home/Contact">Contact</a></li>
                                <li>
                                    <a href="/Home/Register">Open Account</a>

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-2 col-xs-3">
                        <div class="search-wrap text-right">
                            <ul>
                                <li class="active">
                                    <a href="/Home/Login">
                                        <i class="fa fa-lock"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2 clear col-xs-3 hidden-md hidden-lg">
                        <div class="responsive-menu-wrap floatright"></div>
                    </div>
                </div>
            </div>
        </div>
        <div style="background:#1fb5ac; height:2px;">

        </div>

    </header>
    <!-- heared area end -->
    <!-- slider area start -->




    <div id="wowslider-container1">
        <div class="ws_images">
            <ul>
                <li><img src="/data2/images/1.jpg" alt="1" title="1" id="wows1_0" /></li>
                <li><img src="/data2/images/2.jpg" alt="2" title="2" id="wows1_1" /></li>
                <li><img src="/data2/images/3.jpg" alt="3" title="3" id="wows1_2" /></li>
                <li><img src="/data2/images/4.jpg" alt="4" title="4" id="wows1_3" /></li>
                <li><img src="/data2/images/5.jpg" alt="5" title="5" id="wows1_4" /></li>
                <li><img src="/data2/images/6.jpg" alt="slider jquery" title="6" id="wows1_5" /></li>
                <li><img src="/data2/images/7.jpg" alt="7" title="7" id="wows1_6" /></li>
            </ul>
        </div>
        <div class="ws_script" style="position:absolute;left:-99%"></div>
        <div class="ws_shadow"></div>
    </div>


    <div class="breadcumb-menu-savings">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul>
                        <li><a href="/Home/Index">Home</a></li>
                        <li style="color:#F69;">/</li>
                        <li><a href="/Home/Current">Current Account</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>





    <!-- slider area end -->
    <!-- about-area start -->
    <section class="about-area ptb-140">



        <div class="container">
            <div class="row">

                <div class="col-md-12 col-xs-12 wow fadeInRight">
                    <div class="about-wrap">
                        <h2>@Model.title</h2>

                        <p style="text-align:justify; font-size:14px;">
                            @Model.para1
                        </p>

                        <p style="text-align:justify; font-size:14px;">
                            @Model.para2
                        </p>
                    </div>
                </div>




            </div>
        </div>



        <!-- about-area end -->


        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 wow fadeInUp">
                    <div class="section-title text-center">
                        <h2>@Model.heading</h2>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".1s" style="margin-top:20px;">
                    <div class="ser-wrap-savings" style="border:2px dotted #1fb5ac;">
                        <div class="ser-img-savings">
                            <h4 style="margin:10px; padding:10px; background:#1fb5ac; color:#FFF; text-align:center;">@Model.panel1Title</h4>
                        </div>
                        <div class="service-content">
                            <h3><ul><li type="circle" style="margin-left:20px;">@Model.panel1Subtitle1</li></ul></h3>
                            <p style="text-align:justify;">@Model.panel1Subtitle1Content</p>

                        </div>

                        <div class="service-content">
                            <h3><ul><li type="circle" style="margin-left:20px;">@Model.panel1Subtitle2</li></ul></h3>
                            <p style="text-align:justify;">@Model.panel1Subtitle2Content</p>

                        </div>

                        <div class="service-content">
                            <h3><ul><li type="circle" style="margin-left:20px;">@Model.panel1Subtitle3</li></ul></h3>
                            <p style="text-align:justify;">@Model.panel1Subtitle3Content</p>

                        </div>

                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".1s" style="margin-top:20px;">
                    <div class="ser-wrap-savings" style="border:2px dotted #1fb5ac;">
                        <div class="ser-img-savings">
                            <h4 style="margin:10px; padding:10px; background:#1fb5ac; color:#FFF; text-align:center;">@Model.panel2Title</h4>
                        </div>
                        <div class="service-content">
                            <h3><ul><li type="circle" style="margin-left:20px;">@Model.panel2Subtitle1</li></ul></h3>
                            <p style="text-align:justify;">@Model.panel2Subtitle1Content</p>

                        </div>

                        <div class="service-content">
                            <h3><ul><li type="circle" style="margin-left:20px;">@Model.panel2Subtitle2</li></ul></h3>
                            <p style="text-align:justify;">@Model.panel2Subtitle2Content</p>

                        </div>

                        <div class="service-content">
                            <h3><ul><li type="circle" style="margin-left:20px;">@Model.panel2Subtitle3</li></ul></h3>
                            <p style="text-align:justify;">@Model.panel2Subtitle3Content</p>

                        </div>

                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".1s" style="margin-top:20px;">
                    <div class="ser-wrap-savings" style="border:2px dotted #1fb5ac;">
                        <div class="ser-img-savings">
                            <h4 style="margin:10px; padding:10px; background:#1fb5ac; color:#FFF; text-align:center;">@Model.panel3Title</h4>
                        </div>
                        <div class="service-content">
                            <h3><ul><li type="circle" style="margin-left:20px;">@Model.panel3Subtitle1</li></ul></h3>
                            <p style="text-align:justify;">@Model.panel3Subtitle1Content</p>

                        </div>

                        <div class="service-content">
                            <h3><ul><li type="circle" style="margin-left:20px;">@Model.panel3Subtitle2</li></ul></h3>
                            <p style="text-align:justify;">@Model.panel3Subtitle2Content</p>

                        </div>

                        <div class="service-content">
                            <h3><ul><li type="circle" style="margin-left:20px;">@Model.panel3Subtitle3</li></ul></h3>
                            <p style="text-align:justify;">@Model.panel3Subtitle3Content</p>

                        </div>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".1s" style="margin-top:20px;">
                    <div class="ser-wrap-savings" style="border:2px dotted #1fb5ac;">
                        <div class="ser-img-savings">
                            <h4 style="margin:10px; padding:10px; background:#1fb5ac; color:#FFF; text-align:center;">@Model.panel4Title</h4>
                        </div>
                        <div class="service-content">
                            <h3><ul><li type="circle" style="margin-left:20px;">@Model.panel4Subtitle1</li></ul></h3>
                            <p style="text-align:justify;">@Model.panel4Subtitle1Content</p>

                        </div>

                        <div class="service-content">
                            <h3><ul><li type="circle" style="margin-left:20px;">@Model.panel4Subtitle2</li></ul></h3>
                            <p style="text-align:justify;">@Model.panel4Subtitle2Content</p>

                        </div>

                        <div class="service-content">
                            <h3><ul><li type="circle" style="margin-left:20px;">@Model.panel4Subtitle3</li></ul></h3>
                            <p style="text-align:justify;">@Model.panel4Subtitle3Content</p>

                        </div>

                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".1s" style="margin-top:20px;">
                    <div class="ser-wrap-savings" style="border:2px dotted #1fb5ac;">
                        <div class="ser-img-savings">
                            <h4 style="margin:10px; padding:10px; background:#1fb5ac; color:#FFF; text-align:center;">@Model.panel5Title</h4>
                        </div>
                        <div class="service-content">
                            <h3><ul><li type="circle" style="margin-left:20px;">@Model.panel5Subtitle1</li></ul></h3>
                            <p style="text-align:justify;">@Model.panel5Subtitle1Content</p>

                        </div>

                        <div class="service-content">
                            <h3><ul><li type="circle" style="margin-left:20px;">@Model.panel5Subtitle2</li></ul></h3>
                            <p style="text-align:justify;">@Model.panel5Subtitle2Content</p>

                        </div>

                        <div class="service-content">
                            <h3><ul><li type="circle" style="margin-left:20px;">@Model.panel5Subtitle3</li></ul></h3>
                            <p style="text-align:justify;">@Model.panel5Subtitle3Content</p>

                        </div>

                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".1s" style="margin-top:20px;">
                    <div class="ser-wrap-savings" style="border:2px dotted #1fb5ac;">
                        <div class="ser-img-savings">
                            <h4 style="margin:10px; padding:10px; background:#1fb5ac; color:#FFF; text-align:center;">@Model.panel6Title</h4>
                        </div>
                        <div class="service-content">
                            <h3><ul><li type="circle" style="margin-left:20px;">@Model.panel6Subtitle1</li></ul></h3>
                            <p style="text-align:justify;">@Model.panel6Subtitle1Content</p>

                        </div>

                        <div class="service-content">
                            <h3><ul><li type="circle" style="margin-left:20px;">@Model.panel6Subtitle2</li></ul></h3>
                            <p style="text-align:justify;">@Model.panel6Subtitle2Content</p>

                        </div>

                        <div class="service-content">
                            <h3><ul><li type="circle" style="margin-left:20px;">@Model.panel6Subtitle3</li></ul></h3>
                            <p style="text-align:justify;">@Model.panel6Subtitle3Content</p>

                        </div>

                    </div>
                </div>

            </div>





        </div>

    </section>





    <!-- footer-area start  -->
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12  col wow fadeInUp" data-wow-delay=".1s">
                        <div class="footer-widget footer-logo">
                            <h1><a href="/Home/Index"><img src="/assets/images/logo.png" /></a></h1>
                            <p>Banking The Way You Like...</p>
                            <ul>
                                <li><i class="fa fa-phone"></i> +64-221669857</li>
                                <li><i class="fa fa-envelope"></i> info@xcalibur.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".2s">
                        <div class="footer-widget footer-menu">
                            <h2>Footer Menu</h2>
                            <ul>
                                <li><a href="/Home/Index">Home</a></li>
                                <li><a href="/Home/About">About us</a></li>
                                <li><a href="/Home/Contact">Contact</a></li>
                                <li><a href="/Home/Register">Open Account</a></li>
                                <li><a href="/Home/Login">Login</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".4s">
                        <div class="footer-widget quick-contact">
                            <h2>Quick Connect</h2>
                            <p style="color:#FFF;">#18-A, Kentigern, Close Pakuranga, New Zealand</p>
                            <p>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3190.1769050987773!2d174.86971537112657!3d-36.910034476423185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d4be9b1e3ff77%3A0xdef98040f809fd4a!2s18A+Kentigern+Cl%2C+Pakuranga%2C+Auckland+2010%2C+New+Zealand!5e0!3m2!1sen!2sin!4v1547035387268" width="325" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">

                        Copyright &copy; Xcalibur Bank
                        <script>document.write(new Date().getFullYear());</script> All Rights Reserved
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-area end  -->
    <!-- all js here -->
    <!-- jquery latest version -->
    <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap js -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- owl.carousel.2.0.0-beta.2.4 css -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- counterup.main.js -->
    <script src="/assets/js/counterup.main.js"></script>
    <!-- isotope.pkgd.min.js -->
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- isotope.pkgd.min.js -->
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <!-- jquery.waypoints.min.js -->
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <!-- jquery.magnific-popup.min.js -->
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- jquery.slicknav.min.js -->
    <script src="/assets/js/jquery.slicknav.min.js"></script>
    <!-- snake.min.js -->
    <script src="/assets/js/snake.min.js"></script>
    <!-- wow js -->
    <script src="/assets/js/wow.min.js"></script>
    <!-- plugins js -->
    <script src="/assets/js/plugins.js"></script>
    <!-- main js -->
    <script src="/assets/js/scripts.js"></script>
    <script type="text/javascript" src="/engine2/wowslider.js"></script>
    <script type="text/javascript" src="/engine2/script.js"></script>
</body>
</html>